* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: #e4e8eb;
	padding: 0;
	margin: 0;
}

/* Transition Pages */

.page-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.page-fade-in {
	opacity: 0;
	animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.page-transition {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.page-transition.show {
	opacity: 1;
}

/* Transition Pages */

.auth-inputs {
	border: none;
	outline: none;
	width: 100%;
	padding: 20px;
	background-color: #e4e8eb;
	color: #1f1f1fb3;
	font-size: 16px;
	border-radius: 16px;
}

.auth-btns {
	border: none;
	outline: none;
	background-color: #6060f0;
	margin-top: 20px;
	border-radius: 16px;
	padding: 20px;
	width: 100%;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color: #fff;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	letter-spacing: 1px;
}

.auth-btns:hover {
	background-color: #4b47ef;
}
